* {
    margin: 0;
    padding:0;
}


body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 385px;
    width: 575px;
    
}

.score-cont {
    margin-top:0;
    height:120px;
    width:155px;
    background-color: black;
}

.home {
    text-align:center;
    
}

.team {
    font-size: 40px;
    font-family: verdana;
    font-weight: bold;
    margin-top: 40px;
    color: #B4B4B4
}

.add-score {
    height: 45px;
    width: 155px;
    background-color: #1B244A;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.add-box {
    height: 45px;
    width: 45px;
    background-color:black;
    border: 1px solid #B4B4B4;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.add-text {
    color: white;
    font-family: verdana;
    font-size: 15px;
}

.score-box {
    width: 117px;
    height: 120px;
    background-color:  blue;
    margin-right:auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Score Board;
    font-size: 40px;
}

#reset-home {
    margin-top: 20px;
}

